.container{
    max-width: $website-width;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

%btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    margin: 1rem;
    font-size: 1.2rem;  
    cursor: pointer;
    transition: 1s ease-in-out;
}

.btn{
    &-light{
        @extend %btn;
        background: $light-color;
        color: $dark-color;
    }
    &-dark{
        @extend %btn;
        background: $dark-color;
        color: $light-color;
    }
    &-primary{
        @extend %btn;
        background: $primary-color;
        color: $light-color;
    }
    &-secondary{
        @extend %btn;
        background: $secondary-color;
        color: $light-color;
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover{
    background: $primary-color;
}

.lead{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.text-center{
    text-align: center;
}

.py{
    &-1 { padding: 1.5rem 0; }
    &-2 { padding: 2rem 0; }
    &-3 { padding: 3rem 0; }
}

.my{
    &-1 { margin: 1rem 0; }
    &-2 { margin: 2rem 0; }
    &-3 { margin: 3rem 0; }
    &-4 { margin: 4rem 0; }
}

.l-heading{
    font-size: 2rem;
}
.m-heading{
    font-size: 1.5rem;
}
.s-heading{
    font-size: 1rem;
}

.bottom-line{
    background: $primary-color;
    height: 2px;
    width: 5rem;
    display: block;
    margin: 0 auto 1rem auto;
}